---
title: Inspiration From The Future
layout: default
---

<header class="menu">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="bgVideo">
                <source src="assets/media/FanVid.mp4" type="video/mp4">
        </video>
        <div class="row">
            <div class="col-md-7">
                <Img class="logo logoIndex" src="assets/media/base_2_free.png">
                <div class="notice">
                    <div class="title">
                        <div class="notice-text">Announcements</div> <div class="underline"></div></div>
                    <div class="underLine"></div>
                    {% for post in site.posts limit:1 %}
                    <p><strong>{{post.title}}</strong>
                        <blockquote>{{ post.excerpt }}</blockquote>
                    </p>
                    <a href="{{post.url}}">[ Read More ]</a>
                    <div style="float:right"><a href="/news">[ More News ]</a></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col menuIndex">
                {% include menu.html %}
            </div>
        </div>
    </div>
</header>
<div class="content">

<div class="statement">We are devoted to developing technologies that enable humans to accomplish extraordinary things on earth,<span class="beyond"> and beyond. </span></div>
</div>