<header class="header2">
    <div class="menu">
    <div class="row">
        <div class="col-md-7">
            <a href="/"><Img class="logo" src="/assets/media/base_2_free.png" href="/"></a>
        </div>
        <div class="col">
            <a class="link" data-toggle="collapse" data-target="#menuToggle" href="#">MENU <ion-icon name="menu">
                </ion-icon></A>
            <div class="collapse menuToggle" id="menuToggle">
                {% include menu.html %}
            </div>
        </div>
    </div>
    </div>
    </div>
</header>