body {
    background: #f1f1f1;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 25px 50px;
    background: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.04);
}

nav {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    border-color: transparent;
}

nav a {
    margin-left: 85px;
    color: #000;
    font-size: 15.5px;
    padding-bottom: 20px;
}

nav a:hover {
    border-bottom: 5px solid rgba(0,0,0,0.5);
    text-decoration: none;
    color: inherit;
}

nav .brand-logo img {
    max-width: 155px;
}

nav .menu-items {
    text-align: right;
    padding-bottom: 1px;
    margin-right: 0;
    padding-right: 5px;
    margin-bottom: 5px;
}

nav a.active {
    border-bottom: 5px solid #000;
}

nav .brand-logo a {
    border: none;
    margin: 0;
    padding: 0;
}


.mp0 {
    margin: 0;
    padding: 0;
}


.mast {
    background: url('/assets/img/pattern.jpg');
    background-size: auto auto;
    margin-top: 0px;
    background-size: cover;
    margin-left: -50px;
    margin-right: -50px;
    padding-top: 235px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.desc {
font-family: "Libre Franklin";
font-weight: 900;
margin-top: 25px;
font-size: 40px;
padding-left: 25px;
border-left: 15px solid #000;
display: block;
}

h1,h2,h3,h4,h5 {
    font-family: "Libre Franklin";
    font-weight: 900;
    color: inherit;
}

.section-title {
    font-size: 25px;
    font-weight: 100;
}

.index {
    margin-top: 25px;
}

.index a {
    color: inherit;
}

.item-post {
    background: #fafafa;
    padding: 20px 25px;
    border: 1px solid #eee;
    border-left: 5px solid rgba(0,0,0,0.4);
    margin-bottom: 5px;
    transition: all 0.3s;
    width: 100%;
    display: block;
}

.item-post:hover {
    border-left: 15px solid rgba(0,0,0,0.8);
    transition: all 0.3s;
    text-decoration: none;
}

.item-post p {
    margin-bottom: 0;
    font-size: 12px;
}

.item-post .title {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 3.5px;
}

.index .products img{
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.index .item-product p {
    font-size: 10px;
    margin-bottom: 5px;
}

.btn {
    padding: 5px 15px;
    background: #000;
    border-radius: 0;
    margin-top: 10px;
    color: #fff !important;
    font-size: 12px;
}

.post .mast, .mast-2 {
    padding-top: 45px;
}

.post .post-content h3 {
    margin-top: 25px;
}

.post .post-content p {
    font-size: 14px;
}

footer {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 45px;
        padding-bottom: 45px;
    background: #000;
    color: #fff;
    font-size: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.04);
    padding-top: 35px;
}

footer p {
    margin-bottom: 5px;
}

footer img {
    filter: invert(100%);
    max-width: 150px;
    padding-bottom: 10px;
}

.item-block p {
    font-size: 10px;
    margin-bottom: 5px;
}

.item-block {
    border-left: 2px solid #ccc;
    padding-left: 15px;
}

.item-header {
    margin-bottom: 10px;
}

.index.news-page .item-post {
    margin-bottom:20px;
}

.index.news-page h1 {
    margin-top: 25px;
}

img {
    width: 100%;
}

.item-banner {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    
    border-bottom: 0;
    padding-bottom: 0;
}

.item-banner .banner-logo {
    padding: 40px;
}

.item-banner .btn {
    margin: 0;
    display: block;
    margin-top: 15px;
    background: #FFDC00;
    color: #000 !important;
    font-weight: 900;
    font-size: 16px;
    padding: 10px;
}

.item-banner p {
    margin-bottom: 0;
}

.post .meta {
    opacity: 0.6;
}

.post .newsletter {
    margin-top: 55px;
}

.post .newsletter input {
    width: 100%;
    border: none;
    background: #fcfcfc;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.post .newsletter .button {
    padding: 5px;
    cursor: pointer;
}


@media (max-width: 800px) {
    .content {
        padding-top: 15px;
    }
    nav {
        text-align: center;
    }

    nav.row {
        padding-bottom: 0;
        margin-bottom: 3px;
    }

    nav a {
        padding: 0;
        margin: 0 10px;
        padding-bottom: 8px;
    }

    nav img {
        max-width: 125px;
    }

    nav .menu-items {
        float: none;
        padding: 0 10px;
        text-align: center;
        margin-top: 10px;
    }

    h1 {
        font-size: 26px;
    }

    .mast {
        padding-top: 100px;

    }

    .mast .desc {
        font-size: 30px;
    }

    .col-md-7, .col-md-4, .col-md-3 {
        padding: 0;
    }

    .content.post {
        padding: 20px;
    }

    .item-post {
        margin-left: -25px;
        margin-right: -25px;
        width: calc(100% + 50px);
    }

}