---
layout: default
---

<body class="post">
    <div class="bgImage" {% if page.img %} style="background: url('{{page.img}}');" {% endif %}>
    </div>

    {% include header.html %}


    <div class="row">
        <div class="post-top">
            <h1>{{page.title}}{{post.title}}</h1>
            <p class="description">By Macleod Sawyer &bull; {{ page.date | date: '%B %d, %Y' }}</p>
        </div>
        <article class="col-md-7">
            <div class="post-content">
                <div class="post-content-block">
                    {{ content }}
                </div>
            </div>
        </article>
        <div class="col-md-3 sidebar">
            {% include sidebar.html %}
        </div>
    </div>